<app-nav-bar-view></app-nav-bar-view>

<!--Get Products-->
<h1>BuscarProducto por id</h1>
<input type="text" id="filteredId" #id>
<button (click)="getProductById(id)">Search</button>
<button (click)="clearSearch()">Clear</button>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Colours</th>
        <th scope="col">Modify</th>
   </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of products">
        <th scope="row">{{p?.id}}</th>
        <td>{{p?.name}}</td>
        <td>{{p?.brand?.name}}</td>
        <td>{{p?.category?.name}}</td>
        <td>{{p?.description}}</td>
        <td>{{p?.price}}</td>
        <td>{{getColourNames(p?.colours)}}</td>
        <td><button (click)="updateProduct(p)">Update</button></td>
      </tr>
    </tbody>
  </table>


  <h1>Get users</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Roles</th>
        <th scope="col">Modify</th>
        <th scope="col">Delete</th>
   </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <th scope="row">{{u?.guid}}</th>
        <td>{{u?.name}}</td>
        <td>{{u?.email}}</td>
        <td>{{u?.address}}</td>
        <td>{{u?.roles?.join(',')}}</td>
        <td><button (click)="updateUser(u)">Update</button></td>
        <td><button (click)="deleteUser(u)">Delete</button></td>
      </tr>
    </tbody>
  </table>


<button (click)="goBack()" class="btn btn-primary" id="back">Go back</button>
<button (click)="createUser()" class="btn btn-primary">Create new user</button>