<app-nav-bar-view></app-nav-bar-view>
<div (click)="this.feedback=''">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Product Name</label>
        <input type="text" class="form-control" [(ngModel)]="product.Name" placeholder="name">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="product.Description" placeholder="description" >
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Price</label>
        <input type="number" class="form-control" [(ngModel)]="product.Price" placeholder="price" >
    </div>


<label>Brands</label>
    <div class="radio-buttons" class="col-md-3">
        <div class="form-check" *ngFor="let brand of brands; let i = index">
          <input class="form-check-input" type="radio" name="brandRadio" [id]="'brandRadio' + i" [value]="brand"
            [(ngModel)]="selectedBrand">
          <label class="form-check-label" [for]="'brandRadio' + i">
            {{ brand }}
          </label>
        </div>
      </div>

      <label>Categories</label>
      <div class="radio-buttons" class="col-md-3">
        <div class="form-check" *ngFor="let cat of categories; let i = index">
          <input class="form-check-input" type="radio" name="catRadio" [id]="'catRadio' + i" [value]="cat"
            [(ngModel)]="selectedCategory">
          <label class="form-check-label" [for]="'brandRadio' + i">
            {{ cat }}
          </label>
        </div>
      </div>

      <h1>Colors</h1>
      <div class="form-check" *ngFor="let col of colors; let i = index">
        <input class="form-check-input" type="checkbox" name="colRadio" [value]="col"
          [checked]="selectedColors.includes(col)" (change)="toggleColorSelection(col)">
        <label class="form-check-label" [for]="'colRadio' + i">
          {{ col }}
        </label>
      </div>
      
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Stock</label>
        <input type="number" class="form-control" [(ngModel)]="product.Stock" placeholder="stock" >
    </div>
</div>
<p *ngIf="!!feedback">{{feedback}}</p>
<button type="button" class="btn btn-success" (click)="createProduct()">New product</button>
<button type="button" class="btn btn-secondary" (click)="goBack()">Go Back</button>